@import '../../style/default';
@import '../../style/common';
.detail-items {
  margin-left: 90px;
  padding: 25px 50px 25px 0;
  border-bottom: 1px solid @colorN;
  &:last-child {
    border-bottom: none;
  }
  .item-title {
    margin: 20px 0;
    font-size: @fontG;
    color: @colorU;
  }
  .detail-form li .clearfix {
    margin: 20px 0;
    line-height: 20px;
    font-size: 15px;
    color: @colorC;
  }
  .detail-form-left {
    float: left;
    width: 164px;
    text-align: right;
    color: @colorH;
  }
  .detail-form-content {
    padding-left: 194px;
  }
}
.order-map {
  height: 450px;
  margin: 25px -31px 0;
}
