@import "./../../style/default.less";
.header {
  background-color: @colorM;
  .header-top {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-align: right;
    .logo {
      line-height: 60px;
      text-align: left;
      font-size: 18px;
      img {
        height: 40px;
        vertical-align: middle;
      }
      span {
        margin-left: 5px;
      }
    }
    .logout-btn {
      color: #333;
      margin-left: 30px;
      cursor: pointer;
    }
  }
  .breadcrumb {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-top: 1px solid #f9c700;
    .breadcrumb-title {
      text-align: center;
      font-size: @fontC;
      &:after {
        position: absolute;
        content: "";
        left: 73px;
        top: 39px;
        border-top: 9px solid @colorM;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
      }
    }
    .right-side {
      text-align: right;
      font-size: 14px;
      .date {
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }
}
.simple-page {
  .header-top {
    background: #1890ff;
    color: @colorM;
  }
}
